{% extends "base.html" %} {% block content %}
<h1>Home</h1>

<div class="columns is-multiline">
    {% for project in projects %}
        <p class="title is-4">{{ project.title }}</p>

        <footer class="card-footer">
                <a href="#" class="card-footer-item">See more</a>
        </footer>
    {% endfor %}      

</div>
<div style="margin:80px">
		<h1>Contact form</h1>
		<h4>Feel free to get in touch with me</h4>
		<p>
            Please leave a subject, your message and email so I can get back to you, thank you
            for your time :)
		</p>
		<form method="POST">
            {% csrf_token %}
            {{  form.as_p  }}
            <button type="submit">Submit</button>
        </form>
</div>
{% endblock content %}

