{% load static %} 
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <base href="/">

    <link rel="stylesheet" href="{% static 'portfolio_project/css/main.css' %}">
    <link href='{% static "/portfolio_project/images" %}' rel='img' type='svg/jpg'>
    <title>Home</title>
</head>
<body>
   

    <div class="hero hero--bgimg" >

            <nav class="nav">
                <ul class="nav__lblock">
                    <li class="nav__logo"><a href=""></a>Emmanuel Portfolio</li>
                </ul>
                <ul class="nav__options">
                    <li class="nav__option1"><a href="/projects">Projects</a></li>
                    <li class="nav__option2"><a href="">Contact</a></li>
                </ul>
            </nav>


            <div class="hero__wrap">       
                <h1>Python(Django) Developer</h1>
                <p>Hi, I'm a Software Engineer with a passion for building things that are useful to people and also easy to use. I appreciate 
                    that technology enables me to bring an idea to life whilst also supporting my desire to learn and grow. 
                    <br>
                <br>
                I love being able to make a change and thoroughly enjoy solving problems. </p>
                <div class="container">
                    <div class="container__options">
                        <div class="container__wrap">
 
                                <div class="container__name">My Tool Stack and Experience</div>
                                <ul class="container__list">
                                    <li><a href="">Python</a></li>
                                    <li><a href="">Django</a></li>
                                    <li><a href="">React</a></li>
                                    <li><a href="">HTML</a></li>
                                    <li><a href="">CSS</a></li>
                                    <li><a href="">Sass</a></li>
                                    <li><a href="">Heroku</a></li>
                                    <li><a href="">PSQL</a></li>
                                </ul>

                        </div>

                    </div>
                </div>
            </div>
    </div>

    <nav class="nav1">
        <ul class="nav1__lblock">
            <li class="nav1__logo"><a href=""></a>Emmanuel Portfolio</li>
        </ul>
        <ul class="nav1__options">
            <li class="nav1__option1"><a href="/">About Me</a></li>
            <li class="nav1__option2"><a href="">Contact</a></li>
        </ul>
    </nav>

    <div class="hero1">
            <h1>Projects</h1> 
                {% for project in projects %}

            <div class="card">
                <div class="card__content">
                    <div class="card__imagebox">
                        <img src="{{ project.thumbnail.url }}" alt="" class="card__image">
                    </div>
                    <div class="card__text">
                       
                        <h2 class="card__title">{{ project.title }}</h2>
                        <p class="card__description">{{ project.description }}</p>
                     
                    </div>
                    <div class="card__info">
                        <div>
                            <a href="{% url 'portfolio_project:post' project.id %}" class="card__link">See more</a>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}

    </div>

    <nav class="nav1">
        <ul class="nav1__lblock">
            <li class="nav1__logo"><a href="https://github.com/emmanueluwa">Github</a></li>
        </ul>
        <ul class="nav1__options">
            <li class="nav1__option2"><a href="/projects">Projects</a></li>
        </ul>
    </nav>

             

    <nav class="nav2">
        <ul class="nav2__lblock">
            <li class="nav2__logo"><a href=""></a>Emmanuel Portfolio</li>
        </ul>
        <ul class="nav2__options">
            <li class="nav2__option1"><a href="/">About Me</a></li>
            <li class="nav2__option2"><a href="">Projects</a></li>
        </ul>
    </nav>

    <!-- <div class="hero2">
        <h1>Contact form</h1>
        <div class="form">
            <div class="form__group">
                <label class="form__label">
                <input class="form__field" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="form__button" type="submit">Submit</button>
                </input>
                </label>
            </div>
        </div>
    </div>
     -->

        <form class="form" method="POST" >
            {% csrf_token %}
            {{ form|crispy }}
            <input class="form__button" type="submit" value="Send Message"></input>
        </form>


<footer class="footer">COPYRIGHT &copy; fulodev 2020</footer>
</body>
</html>







