{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <base href="/">

  <link rel="stylesheet" type="text/css" href="{% static 'portfolio_project/css/main.css' %}" >
  <link href='{% static "portfolio_project/images" %}' rel='img' type='svg/jpg'>

  <title>Post page</title>
</head>
<body>

    <nav class="nav1">
      <ul class="nav1__lblock">
        <li class="nav1__logo"><a href=""></a>Emmanuel Portfolio</li>
      </ul>
      <ul class="nav1__options">
        <li class="nav1__option1"><a href="/">About Me</a></li>
        <li class="nav1__option2"><a href="">Contact</a></li>
      </ul>
    </nav>


<div class="hero1">

  <div class="card"></div>
    <h1 class="card__title">{{ post.title }}</h1>
    <div class="card__content">
      <div class="card__imagebox">
        <img src="{{ post.thumbnail.url }}" alt="" class="card__image">
      </div>
      <div class="card__text">


        <p class="card__description">{{ post.description }}</p>
        <p class="card__body">{{ post.body }}</p>

      </div>

    </div>
  </div>



</div>

</body>
</html>


