{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <base href="/">

  <link rel="stylesheet" type="text/css" href="{% static 'portfolio_project/css/main.css' %}" >
  <link href='{% static "portfolio_project/images" %}' rel='img' type='svg/jpg'>

  <title>Post page</title>
</head>
<body>

    <nav class="nav1">
      <ul class="nav1__lblock">
        <li class="nav1__logo"><a href=""></a>Emmanuel Portfolio</li>
      </ul>
      <ul class="nav1__options">
        <li class="nav1__option1"><a href="/">About Me</a></li>
        <li class="nav1__option2"><a href="">Contact</a></li>
      </ul>
    </nav>



  <div class="posting">
    <div class="posting__top">
      <img src="{{ post.thumbnail.url }}" alt="" class="post__image">
      <div class="posting__toptext">
        <h1 class="posting__title">{{ post.title }}</h1>
        <h2 class="posting__description">{{ post.description }}</h2>
      </div>
    </div>

    <div class="posting__main">
      <p class="posting__body">{{ post.body|safe }}</p>
    </div>
  </div>


</div>

<footer class="footer">COPYRIGHT &copy; fulodev 2021</footer>
</body>
</html>


