
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfolio_project/css/main.css' %}">
    <link href='{% static "/portfolio_project/images" %}' rel='img' type='svg/jpg'>

    <title>Projects</title>
</head>
<body>
    
    <nav class="nav1">
        <ul class="nav1__lblock">
            <li class="nav1__logo"><a href=""></a>Emmanuel Portfolio</li>
        </ul>
        <ul class="nav1__options">
            <li class="nav1__option1"><a href="/">About Me</a></li>
            <li class="nav1__option2"><a href="">Contact</a></li>
        </ul>
    </nav>

    <div class="hero1">
        <h1>Projects</h1>
        <div class="listing">
            <div class="listing__section">
                <div class="listing__card">
                    <header class="listing__header">
                        
                        {% for project in projects %}
                        {% if forloop.first  %}
                        <h2 class="listing__title">{{ project.title }}</h2>
                        <picture class="listing__picture">
                            <source srcset="portfolio_project\static\portfolio_project\images\projects-img.svg" media="(min-width: 767px)">
                            <img src="portfolio_project\static\portfolio_project\images\projects-img.svg" alt="">
                        </picture>
                        <p class="listing__description">{{ project.description }}</p>
                        <p class="listing__body">{{ project.body|truncatewords:20 }}</p>
                    </header>
    
                        <a href="/post/{{ project.id }}" class="listing__view">See more</a>
                        {% endif %}
                        {% endfor %}
    
                </div>
                <div class="listing__card">
                    <header class="listing__header">
                        {% for project in projects %}
                        {% if forloop.counter == 2 %}

                        <h2 class="listing__title">{{ project.title }}</h2>
                            <picture class="listing__picture">
                                <source srcset="portfolio_project\static\portfolio_project\images\lounge-img.svg" media="(min-width: 767px)">
                                <img src="portfolio_project\static\portfolio_project\images\lounge-img.svg" alt="">
                            </picture>
                        <p class="listing__description">{{ project.description }}</p>
                        <p class="listing__body">{{ project.body|truncatewords:20 }}</p>

                    </header>
    
                        <a href="/post/{{ project.id }}" class="listing__view">See more</a>
                        {% endif %}
                        {% endfor %}
    
                </div>
            </div>
        </div>
        <div hero__links>
            <p class="listing__github" href="github.com">Visit my Github account</p>
        
        </div>
        <ul class="paginate">
            <li>
                < PREVIOUS</li>
            <li>NEXT ></li>
        </ul>
    </div>

</body>
</html>

