{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <base href="/">

    <link rel="stylesheet" href="{% static 'portfolio_project/css/main.css' %}">
    <link href='{% static "/portfolio_project/images" %}' rel='img' type='svg/jpg'>

    <title>Projects</title>
</head>
<body>
    
    
    <nav class="nav1">
        <ul class="nav1__lblock">
            <li class="nav1__logo"><a href=""></a>Emmanuel Portfolio</li>
        </ul>
        <ul class="nav1__options">
            <li class="nav1__option1"><a href="/">About Me</a></li>
            <li class="nav1__option2"><a href="">Contact</a></li>
        </ul>
    </nav>

    <div class="hero1">
        <h1>Projects</h1>
        {% for project in projects %}
        <div class="card">
            <div class="card__content">
                <div class="card__imagebox">
                    <img src="{{ project.thumbnail.url }}" alt="" class="card__image">
                </div>
                <div class="card__text">
         
                    
                    <h2 class="card__title">{{ project.title }}</h2>
                    <p class="card__description">{{ project.description }}</p>
                    <p class="card__body">{{ project.body|truncatewords:20 }}</p>

                </div>
                <div class="card__info">
                    <div>
                        <a href="{% url 'portfolio_project:post' project.id %}" class="card__link">See more</a>
                    </div>
        
                </div>
            </div>
        </div>
        {% endfor %}
     
    </div>

    <nav class="nav1">
        <section>
        <ul class="nav1__github">
            <li class="nav1__githublogo"><a href="https://github.com/emmanueluwa">Github</a></li>
        </ul>
        </section>
    </nav>

     

</body>
</html>

