.card {
  margin: 30rem 10rem;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;

  &__content {
    box-shadow: 1px 2px 3px 1px var(--elements);
    border: 1px var(--alpha) solid;
    border-radius: 5rem;
    // margin-bottom: 20rem;
  }

  &__image {
    width: 100%;
    display: block;
    border-radius: 5rem;
    size: cover;
  }

  &__text {
    display: grid;
    line-height: 1.5;
    font-size: 0.9em;
    // padding: 15px;
    background: var(--delta);
  }

  h2 {
    margin-bottom: 20rem;
    font-size: 23rem;
  }

  p {
    margin-bottom: 0;
    font-size: 18rem;
  }

  &__info {
    padding: 15px;
    border-bottom: 2px solid var(--alpha);
    border-top: 2px solid var(--alpha);
    background: var(--delta);
  }

  &__link {
    text-decoration: none;
  }

  &__link:hover {
    text-decoration: underline;
    color: var(--alpha);
  }
}
