.card {
  margin: 30rem 20rem;
  max-width: 1000px;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  &__content {
    box-shadow: 1px 2px 3px 1px var(--elements);
    border: 1px var(--alpha) solid;
    border-radius: 5rem;
    // margin-bottom: 20rem;
  }

  &__image {
    width: 100%;
    display: block;
    border-radius: 5rem;
    size: cover;
    line-height: 0;
  }

  &__text {
    display: grid;
    line-height: 5;
    font-size: 0.9em;
    // padding: 15px;
    background: var(--delta);
    justify-content: space-between;
    text-decoration-color: none;
    text-align: center;
  }

  h2 {
    margin-top: 10rem;
    font-size: 23rem;
    display: block;
    text-align: center;
  }

  p {
    margin-bottom: 0;
    font-size: 18rem;
    line-height: 1.5;
    text-align: center;
  }

  a {
    text-align: center;
  }

  &__info {
    padding: 15px;
    border-bottom: 2px solid var(--alpha);
    border-top: 2px solid var(--alpha);
    background: var(--delta);
  }

  &__link {
    text-decoration: none;
    display: grid;
    margin: right;
  }

  &__link:hover {
    text-decoration: underline;
    color: var(--alpha);
  }

  @include respond-to("small") {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15rem;
    display: flex;
    display: grid;

    &__content {
      justify-content: space-between;
    }
  }
}
