.footer {
  background-color: var(--alert);
  color: var(--delta);
  padding: 12rem;
  font-size: 13rem;
  text-align: center;

  // @include respond-to("small") {
  //   footer {
  //     font-size: 100rem;
  //   }
  // }
}
