.hero1 {
  padding: 10rem;
  background-color: var(--alert);

  h1 {
    font-size: 26rem;
    text-align: center;
    color: var(--alpha);
    line-height: 30rem;
    margin-bottom: 15rem;
  }

  p {
    font-size: 18rem;
    text-align: center;
    color: var(--alpha);
    line-height: 30rem;
    margin-bottom: 15rem;
  }

  // @include respond-to("small") {

  //   h1 {
  //     font-size: 38rem;
  //     line-height: 40rem;
  //   }

  //   p {
  //     font-size: 28rem;
  //     line-height: 37rem;
  //   }
  // }
}
