.nav1 {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  grid-template-rows: repeat(2, min-content);

  background-color: var(--alert);

  &__lblock {
    grid-row: 1/2;
    grid-column: 1/2;

    display: flex;
    align-items: center;
    padding: 12rem;
  }

  &__options {
    grid-row: 1/2;
    grid-column: 3/4;

    display: flex;
    align-items: center;
    padding: 12rem;
    li {
      margin-left: 15rem;
      font-size: 20rem;
    }
  }

  &__logo {
    color: var(--alpha);
  }

  &__option1 {
    color: var(--alpha);
    white-space: nowrap;
  }

  &__option1:hover {
    font-weight: bold;
    color: var(--alpha);
  }

  &__option2 {
    color: var(--alpha);
    li {
      font-size: 20rem;
    }
  }

  &__option2:hover {
    font-weight: bold;
    color: var(--alpha);
  }

  &__github {
    align-items: center;
    display: flex;
    padding: 15rem;
    text-align: center;
  }
  &__githublogo {
    color: var(--alpha);
    font-size: 24rem;
    display: flex;
  }

  &__githublogo:hover {
    color: var(--alpha);
    font-weight: bold;
  }

  @include respond-to("small") {
    &__logo {
      font-size: 26rem;
    }

    &__option1 {
      font-size: 26rem;
    }

    &__option2 {
      font-size: 26rem;
    }
  }
}
