.posting {
  display: grid;
  margin: 30rem 10rem;

  img {
    width: 100%;
    display: block;
    border-radius: 5rem;
    size: cover;
  }

  h1 {
    text-align: center;
    font-size: 24rem;
    padding: 15rem;
  }

  h2 {
    text-align: center;
    font-size: 21rem;
    padding: 10rem;
  }

  p {
    font-size: 18rem;
    padding: 8rem;
    background-color: var(--light);
  }

  @include respond-to("small") {
    margin: 30rem auto;
    max-width: 1000rem;

    &__top {
      display: grid;
      grid-template-columns: 60% 40%;

      img {
        width: 100%;
        display: block;
        border-radius: 5rem;
        size: cover;
      }
    }

    &__main {
      padding: 40rem;
    }

    h1 {
      text-align: center;
      font-size: 50rem;
      padding: 15rem;
    }

    h2 {
      text-align: center;
      font-size: 30rem;
      padding: 10rem;
    }

    p {
      font-size: 25rem;
      padding: 8rem;
      background-color: var(--light);
    }
  }
}
