.hero2 {
  padding: 10rem;
  background-color: var(--gamma);

  h1 {
    font-size: 26rem;
    text-align: center;
    color: var(--delta);
    line-height: 30rem;
    margin-bottom: 15rem;
  }

  @include respond-to("small") {
    h1 {
      font-size: 38rem;
      max-width: 500rem;
      line-height: 40rem;
    }
  }
}
